node_modules/
dist/
coverage/

**/node_modules/
**/dist/
**/dist-ssr/
**/coverage/
**/.env
**/.env.*
!**/.env.example
**/logs/

backups/
*.dump
*.log

.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
